        <!-- Footer
        ============================================= -->
        <footer id="footer" class="section bg-dark text-white">
            <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center text-lg-start wow fadeInUp">
                <p class="mb-2 mb-lg-0">Copyright © {{ site.time | date: '%Y' }} <a class="fw-600" href="#">Jake Stride</a>. All Rights Reserved.</p>
                </div>
                <div class="col-lg-6 wow fadeInUp">
                <p class="mb-0 text-center text-lg-end">Get in touch: <a class="fw-600" href="mailto:chat@jakestride.com">chat@jakestride.com</a></p>
                </div>
            </div>
            </div>
        </footer>
        <!-- Footer end -->