<!-- Back to Top
============================================= --> 
<a id="back-to-top" class="rounded-circle" data-bs-toggle="tooltip" title="Back to Top" href="javascript:void(0)"><i class="fas fa-arrow-up"></i></a> 

<!-- JavaScript --> 
<script src="/assets/vendor/jquery/jquery.min.js"></script> 
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script> 
<!-- Easing --> 
<script src="/assets/vendor/jquery.easing/jquery.easing.min.js"></script> 
<!-- Appear --> 
<script src="/assets/vendor/jquery.appear/jquery.appear.min.js"></script> 
<!-- WOW animation --> 
<script src="/assets/vendor/wow/wow.min.js"></script> 
<!-- Images Loaded --> 
<script src="/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script> 
<!-- Typed --> 
<script src="/assets/vendor/typed/typed.min.js"></script> 
<!-- Parallax Bg --> 
<script src="/assets/vendor/parallaxie/parallaxie.min.js"></script> 
<!-- Owl Carousel --> 
<script src="/assets/vendor/owl.carousel/owl.carousel.min.js"></script> 
<!-- isotope Portfolio Filter --> 
<script src="/assets/vendor/isotope/isotope.pkgd.min.js"></script> 
<!-- Magnific Popup --> 
<script src="/assets/vendor/magnific-popup/jquery.magnific-popup.min.js"></script> 
<!-- Custom Script --> 
<script src="/assets/js/theme.js"></script>