<!-- Intro
    ============================================= -->
    <section id="home" class="bg-primary d-flex fullscreen-with-header position-relative py-5">
        <div class="container my-auto py-4">
          <div class="row">
            <div class="col-lg-7 text-center text-lg-start align-self-center order-1 order-lg-0 wow fadeIn">
              <h1 class="text-12 fw-300 mb-0 text-uppercase">I Love Helping With</h1>
              <div class="typed-strings">
                <p>Startups</p>
                <p>AI</p>
                <p>Scaling</p>
                <p>ESG</p>
              </div>
              <h2 class="text-21 fw-600 text-uppercase mb-0 ms-n1"><span class="typed"></span></h2>
              <p class="text-5">Based in Perth, I help around the <span class="animated"><i class="fas fa-globe-americas"></i></span>.</p>
              <a href="/posts/" class="btn btn-dark rounded-0 mt-3">Read My Blog</a><a href="mailto:chat@jakestride.com" class="btn btn-link text-dark mt-3">Get In Touch<span class="text-4 ms-2"><i class="far fa-arrow-alt-circle-right"></i></span></a>
            </div>
            <div class="col-lg-5 text-center align-self-center mb-4 mb-lg-0 order-0 order-lg-1">
              <div class="bg-light rounded-pill d-inline-block p-3 shadow-lg wow zoomIn"> <img class="img-fluid rounded-pill d-block" src="/assets/images/jakestride.jpg" title="Jake Stride" alt=""></div>
            </div>
          </div>
        </div>
        <a href="#about" class="scroll-down-arrow text-dark smooth-scroll"><span class="animated"><i class="fas fa-arrow-down"></i></span></a> </section>
      <!-- Intro end --> 
      
      <!-- About
      ============================================= -->
      <section id="about" class="section">
        <div class="container"> 
          <!-- Heading -->
          <p class="text-center mb-2 wow fadeInUp"><span class="bg-primary text-dark px-2">About Me</span></p>
          <h2 class="text-10 fw-600 text-center mb-5 wow fadeInUp">What I Do</h2>
          <!-- Heading end-->
          
          <div class="row">
            <div class="col-lg-8 text-center text-lg-start wow fadeInUp">
              <h2 class="text-8 fw-400 mb-3">Hi, I'm <span class="fw-700 border-bottom border-3 border-primary">Jake Stride</span></h2>
              <p class="text-5">I'm an experienced CEO and Digital Advisor with a passion for XXX.</p>
            </div>
            <div class="col-lg-4 mt-4 mt-lg-0 wow fadeInUp" data-wow-delay="0.2s">
              <div class="featured-box style-4">
                <div class="featured-box-icon text-25 fw-500 bg-primary rounded-circle"><span class="wow heartBeat" data-wow-delay="1.3s">{{ site.time | date: '%y' }}</span></div>
                <h3 class="text-7 wow rubberBand" data-wow-delay="2s">Years of <span class="fw-700">Experiance</span></h3>
              </div>
            </div>
          </div>
          <div class="row gy-3 mt-4">
            <div class="col-6 col-lg-3 wow fadeInUp">
              <p class="text-muted fw-500 mb-0">Name:</p>
              <p class="text-4 text-dark fw-600 mb-0">Jake Stride</p>
            </div>
            <div class="col-6 col-lg-3 wow fadeInUp" data-wow-delay="0.2s">
              <p class="text-muted fw-500 mb-0">Email:</p>
              <p class="text-4 fw-600 mb-0"><a class="link-dark" href="">chat@jakestride.com</a></p>
            </div>
            <div class="col-6 col-lg-3 wow fadeInUp" data-wow-delay="0.3s">
              <p class="text-muted fw-500 mb-0">Places I've Worked:</p>
              <p class="text-4 text-dark fw-600 mb-0">Asia, Australia, UK, US</p>
            </div>
            <div class="col-6 col-lg-3 wow fadeInUp" data-wow-delay="0.4s">
              <p class="text-muted fw-500 mb-0">Based In:</p>
              <p class="text-4 text-dark fw-600 mb-0">Perth, Australia.</p>
            </div>
          </div>
        </div>
      </section>
      <!-- About end -->  
      
      <!-- Call to Action
      ============================================= -->
      <section>
        <div class="hero-wrap">
          <div class="hero-mask opacity-8 bg-dark"></div>
          <div class="hero-bg parallax" style="background-image:url('images/intro-bg-2.jpg');"></div>
          <div class="hero-content section">
            <div class="container text-center py-5 wow fadeInUp">
              <h2 class="text-10 fw-600 text-white mb-5">Do you have questions, need some help?</h2>
              <a href="#contact" class="btn btn-primary rounded-0 smooth-scroll wow rubberBand" data-wow-delay="1s">Get in Touch!</a> </div>
          </div>
        </div>
      </section>
      <!-- Call to Action end --> 
      
      <!-- Contact Me
      ============================================= -->
      <section id="contact" class="section bg-primary">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 text-center text-lg-start wow fadeInUp">
              <h2 class="text-10 fw-600 mb-5">Let's get in touch</h2>
              <p class="text-5 mb-5">Help and advisory: how to make meanginful, impactful change in organisations with AI & Digital Twins. That's the expereince I have and I want to share with those on their journey.</p>
              <h3 class="text-5 fw-600">Based In:</h3>
              <address class="text-4">
              Perth, Australia
              </address>
              <h3 class="text-5 fw-600">Email:</h3>
              <p class="text-4"><a class="link-dark" href="mailto:chat@jakestride.com">chat@jakestride.com</a></p>
              <ul class="social-icons social-icons-lg justify-content-center justify-content-lg-start mt-5">
                <li class="social-icons-twitter"><a data-bs-toggle="tooltip" href="https://twitter.com/jake/" target="_blank" title="" data-bs-original-title="Twitter"><i class="fab fa-twitter"></i></a></li>
                <li class="social-icons-linkedin"><a data-bs-toggle="tooltip" href="https://www.linkedin.com/in/jakestride/" target="_blank" title="" data-bs-original-title="LinkedIn"><i class="fab fa-linkedin"></i></a></li>
              </ul>
            </div>
            <div class="col-lg-6 ms-auto mt-5 mt-lg-0 wow fadeInUp" data-wow-delay="0.3s">
              <h2 class="text-10 fw-600 text-center text-lg-start mb-5">Schedule a Chat</h2>
              <!-- Contact Form -->
              <form id="contact-form" class="form-border" action="php/mail.php" method="post">
                <div class="row g-4">
                  <div class="col-12">
                    <label class="form-label" for="name">What is Your Name:</label>
                    <input id="name" name="name" type="text" class="form-control py-1" required >
                  </div>
                  <div class="col-12">
                    <label class="form-label" for="email">Your Email Address:</label>
                    <input id="email" name="email" type="email" class="form-control py-1" required >
                  </div>
                  <div class="col-12">
                    <label class="form-label" for="form-message">How can I Help you?:</label>
                    <textarea id="form-message" name="form-message" class="form-control py-1" rows="4" required ></textarea>
                  </div>
                  <div class="col-12 text-center text-lg-start">
                    <button id="submit-btn" class="btn btn-dark rounded-0" type="submit">Send <span class="ms-3"><i class="fas fa-arrow-right"></i></span></button>
                  </div>
                </div>
              </form>
              <!-- Contact Form end --> 
            </div>
          </div>
        </div>
      </section>
      <!-- Contact Me end -->                


                </div>
