		<header id="header">
            <div class="header-inner">
                <div class="container">
                    <!--Logo-->
                    <div id="logo">
						<a href="/">
							<img class="logo-default" src="/assets/images/square_small.png">
							<img class="logo-dark" src="/assets/images/square_small.png">
						</a>
					</div>
                    <!--End: Logo-->
                    <!--Navigation Resposnive Trigger-->
                    <div id="mainMenu-trigger"> <a class="lines-button x"><span class="lines"></span></a> </div>
                    <!--end: Navigation Resposnive Trigger-->
                    <!--Navigation-->
                    <div id="mainMenu">
                        <div class="container">
                            <nav>
                                <ul>
                                    <li><a href="/">Home</a></li>
									<li><a href="/posts/">Archive</a></li>
							{% for category in site.categories %}
								{% if category[0] != "Featured" and category[1].size > 4 %}
									<li><a href="/{{ category[0] | slugize }}/">{{ category[0] }}</a></li>
								{% endif %}
							{% endfor %}
                                    
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--end: Navigation-->
                </div>
            </div>
        </header>