                    <!-- Post item-->
					<div class="post-item border">
                        <div class="post-item-wrap">
                            <div class="post-image">
                                <a href="#">
                                    <img class="rounded" alt="" src="{{ post.image }}">
                                </a>
                                <span class="post-meta-attribution">
								{% if post.image_attribution_unsplash %}
									Photo by <a href="https://unsplash.com/@{{ post.image_attribution_unsplash }}?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge">{{ post.image_attribution_name }}</a>
                                {% else if post.image_attribution_url %}
									Photo by <a href="{{ post.image_attribution_url }}">{{ post.image_attribution }}</a>
								{% else if post.image_attribution %}
									{{ post.image_attribution }}
								{% endif %}
								</span>
                            </div>
                            <div class="post-item-description">
                                <span class="post-meta-date"><i class="fa fa-calendar-o"></i>{{ post.date | date: "%-d %B %Y" }}</span>
                                <!--<span class="post-meta-comments"><a href=""><i class="fa fa-comments-o"></i>33 Comments</a></span>-->
                                <h2><a href="{% if post.categories contains "Links" %}{{ post.external_link }}{% else %}{{ post.url}}{% endif %}">{{ post.title }}</a></h2>
                                {{ post.excerpt }}
                                {% assign tags_size = post.tags | size %}
                                {% if tags_size > 0 %}<span class="post-meta-category"><i class="fa fa-tag"></i>{% for tag in post.tags %}{{ tag }}{% if forloop.last != true %}, {% endif %}{% endfor %}</span>{% endif %}
                            </div>
                        </div>
                    </div>
					<!-- end: Post item-->