  <section id="post" class="section">
    <div class="container"> 
      
      
      <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8 text-center text-lg-start">
           <!-- Heading -->
      <h2 class="text-10 fw-600 text-center mb-5 wow fadeInUp">{% if page.categories contains "links" %}<a href="{{ page.external_link }}">{{ page.title }}</a>{% else %}{{ page.title}}{% endif %}</h2>
      <p class="text-center mb-2 wow fadeInUp">
        <span class="bg-primary text-dark px-2"><i class="fa fa-calendar-o"></i>{{ page.date | date: "%-d %B %Y" }}</span>
        <span class="bg-primary text-dark px-2"><i class="fa fa-tag"></i>{% for tag in page.tags %}<a href="">{{ tag }}</a>{% if forloop.last != true %}, {% endif %}{% endfor %}</span>
        {% if page.image %}
            <span class="bg-primary text-dark px-2">
            {% if page.image_attribution_unsplash %}
                Photo by <a href="https://unsplash.com/@{{ page.image_attribution_unsplash }}?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge">{{ page.image_attribution_name }}</a>
            {% else if page.image_attribution %}
                {{ page.image_attribution }}
            {% endif %}
            </span>
        {% endif %}</p>
      <!-- Heading end-->
            {% if page.image %}<p>
                                    {% if page.categories contains "links" %}
                                    <a href="{{ page.external_link }}">
                                        <img class="img-fluid" alt="{{ page.title }}" {% include responsive-image.html %}>
                                    </a>
                                    {% else %}
                                    <img class="img-fluid" alt="{{ page.title }}" {% include responsive-image.html %}>
                                    {% endif %}</p>
                                    {% endif %}
            {{ content }}
        </div>
        <div class="col-lg-2"></div>
      </div>
      </div>
    </div>
  </section>