<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="70">

<!-- Preloader -->
<div class="preloader">
  <div class="lds-ellipsis">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
<!-- Preloader End --> 

<!-- Document Wrapper   
=============================== -->
<div id="main-wrapper"> 
  
    {% include header.html %} 
  
  <!-- Content
  ============================================= -->
  <div id="content" role="main"> 
    
    {% if page.dir contains "about" %} 
      {% include about.html %}
    {% elsif page.dir == "/posts/" or page.url contains "links" %} 
      {% include archive-posts.html %}
    {% elsif page.url contains "posts"  %} 
      {% include post.html %}
    {% else %}
      {% include frontpage-posts.html %}
    {% endif %}
    
  </div>
  <!-- Content end --> 
  
  {% include footer.html %}
  
</div>
<!-- Document Wrapper end --> 

{% include foot.html %}

</body>
</html>