<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
    <!-- Body Inner -->
    <div class="body-inner">

        <!-- Header -->
        {% include header.html %}
        <!-- end: Header -->
        <!-- AUTHOR NAME -->
        <section>
            <div class="blog-author-title"> Archive </div>
        </section>
        <!-- end: AUTHOR NAME -->

        <!-- Content -->
        <section id="page-content">
            <div class="container">
                <!-- post content -->

                <!-- Blog -->
				{% include archive-posts.html %}
                <!-- end: Blog -->

            </div>
            <!-- end: post content -->

        </section> <!-- end: Content -->
        <!-- Footer -->
        {% include footer.html %}
        <!-- end: Footer -->

    </div>
    <!-- end: Body Inner -->

    {% include foot.html %}

</body>

</html>