<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
    <!-- Body Inner -->
    <div class="body-inner">

        <!-- Header -->
        {% include header.html %}
        <!-- end: Header -->   

        <!-- Content -->
        <section id="page-content" class="sidebar-right">
            <div class="container">
                <div class="row">
                    <!-- post content -->
                    <div class="content col-lg-9">
					{% include post.html %}
                    </div>
                    <!-- end: post content -->

                    <!-- Sidebar-->
                    {% include sidebar.html %}
                    <!-- end: Sidebar-->
                </div>
            </div>
        </section> <!-- end: Content -->
        <!-- Footer -->
        {% include footer.html %}
        <!-- end: Footer -->

    </div>
    <!-- end: Body Inner -->

    {% include foot.html %}

</body>

</html>